langchain
langchain-google-genai
langchain-community
langchain-text-splitters
langchain-huggingface
chromadb
fastapi
uvicorn
python-dotenv
pypdf
sentence-transformers
rank-bm25
cohere
pydantic
pytest
